*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: hsl(0, 0%, 90%);
}

.calculator-div {
 width: 30vw;
 height: 81vh;
 position: fixed;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 margin: auto;
}
.themeNumberDiv {
  height: 20px;
  width: 80px;
  margin-left: 425px;
  text-align: right;
  
}
span{
  font-family: League Spartan;
  color: hsl(60, 10%, 19%);
  font-weight: 700;
  font-size: 13px;
  margin-left: 13px;
}

.navDiv {
  display: flex;
  
}

.navDiv h1{
  font-family: League Spartan;
  color: hsl(60, 10%, 19%);
  font-weight: 700;
  font-size: 32px;
  width: 60px; 
  margin-right: 40vh;
}

.navDiv p{
  font-family: League Spartan;
  color: hsl(60, 10%, 19%);
  font-weight: 700;
  font-size: 13px;
  padding-top: 13px;
  margin-right: 30px;
}

.navDiv div {
  padding-top: 3px;
  text-align: right;
  border-radius: 20px;
  background-color: hsl(0, 5%, 81%);
  width: 70px;
  height: 25px;
}

.navDiv div button{
 background-color: hsl(6, 63%, 50%) ;
 height: 14px;
 width: 14px;
 border: none;
 border-radius: 50%;
 margin-right: 4px;
 cursor: pointer;
}

.navDiv div button:active{
  background-color: hsl(24, 90%, 60%);
}

.displayDiv {
  height: 120px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 93%);
  color: hsl(60, 10%, 19%);
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 32px;
  padding-inline: 20px;
  font-family: League Spartan;
  font-weight: 700;
}

.keypadDiv {
  height: 440px;
  margin-top: 25px;
  border-radius: 10px;
  background-color: hsl(0, 5%, 81%);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  padding-top: 30px;
  padding-left:40px ;
  padding-right: 20px;
}

.keypadDiv button{
  height: 60px;
  margin-right: 25px;
  border-radius: 10px;
  border: none;
  font-size: 32px;
  font-weight: 700;
  color: hsl(60, 10%, 19%);
  cursor: pointer;
  font-family: League Spartan;
  background-color: hsl(45, 7%, 89%);
  box-shadow: 0px 4px 2px 2px hsl(35, 11%, 61%);
}

.keypadDiv button:active{
  background-color:  white;
}
#deletebutton{
  font-size: 20px;
  color:hsl(0, 0%, 100%);
  background-color: hsl(185, 42%, 37%);
  box-shadow: 0px 4px 2px 2px hsl(185, 58%, 25%);
}

#deletebutton:active{
  background-color:  hsl(185, 49%, 55%);
}

#resetbutton {
  font-size: 20px;
  color:hsl(0, 0%, 100%);
  background-color: hsl(185, 42%, 37%);
  grid-column: span 2;
  box-shadow: 0px 4px 2px 2px hsl(185, 58%, 25%);
}

#resetbutton:active{
  background-color:  hsl(185, 49%, 55%);
}

#equalbutton {
  font-size: 20px;
  color:hsl(0, 0%, 100%);
  background-color:  hsl(25, 98%, 40%);
  grid-column: span 2;
  box-shadow: 0px 4px 2px 2px hsl(25, 99%, 27%);
}

#equalbutton:active{
background-color: hsl(24, 90%, 60%);
}